:root {
  --light-color: #fbf5f3;
  --primary-color: #272838;
  --secondary-color: #5d536b;
  --accent-color: #a7d49b;
  --box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--light-color);
}

h1 {
  font-family: "Domine", serif;
  font-size: 40px;
  color: var(--primary-color);
}

h2,
h3,
p {
  font-family: "Raleway", sans-serif;
}

.navbar {
  background-color: var(--light-color);
  color: var(--primary-color);
}

.navbar ul {
  text-align: right;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  margin: 150px 40px 40px 40px;
  padding: 0 70px;
}

.bio-text {
  margin-bottom: 40px;
  padding-right: 70px;
}

.surname {
  font-size: 96px;
}

.job-title {
  font-size: 22px;
  color: var(--secondary-color);
}

.profile-img {
  display: flex;
  justify-content: flex-end;
}

.download-bt {
  background-color: var(--secondary-color);
  color: var(--light-color);
  padding: 15px 20px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}

.logo-light {
  margin-bottom: 20px;
}

.skills-banner {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px var(--primary-color);
  border-bottom: solid 1px var(--primary-color);
  padding: 20px 10px;
  margin: 0 40px;
  text-align: center;
}

.skills-banner li {
  list-style: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards h3 {
  padding-top: 20px;
  font-size: 20px;
  font-family: "Domine", serif;
}

.cards img {
  box-shadow: var(--box-shadow);
}

.homepage-portfolio {
  margin: 40px;
}

.homepage-portfolio h2 {
  font-family: "Domine", serif;
}

.all-projects-link {
  font-size: 12px;
  text-align: right;
  padding-bottom: 30px;
}

footer {
  color: var(--light-color);
  background-color: var(--primary-color);
  padding: 65px 56px 34px 56px;
  margin-top: 88px;
}

.dark-color {
  color: var(--primary-color);
}

.light-color {
  color: var(--light-color);
}

.footer-nav {
  list-style: none;
  padding: 0;
}

.footer-nav li {
  padding: 6px 0;
}

.copyright-text,
.privacy-links {
  font-size: 12px;
}

.privacy-links {
  text-align: right;
}
