:root {
  --light-color: #fbf5f3;
  --primary-color: #272838;
  --secondary-color: #5d536b;
  --accent-color: #a7d49b;
  --box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--light-color);
}

h1 {
  font-family: "Domine", serif;
  font-size: 40px;
  color: var(--primary-color);
}

h2,
h3,
p {
  font-family: "Raleway", sans-serif;
}

/* index */

.navbar {
  background-color: var(--light-color);
  color: var(--primary-color);
}

.navbar ul {
  text-align: center;
}

.hero {
  display: flex;
  flex-wrap: nowrap;
  margin: 150px 40px 40px 40px;
  flex-direction: row;
  justify-content: space-around;
}

.bio-text {
  margin: 20px 0;
  padding-right: 150px;
}

.surname {
  font-size: 96px;
}

.job-title {
  font-size: 22px;
  color: var(--secondary-color);
}

.profile-img-container {
  min-width: 470px;
}

.profile-image {
  max-width: 100%;
  height: auto;
}

.download-bt {
  display: inline-block;
  background-color: var(--secondary-color);
  margin: 30px 0;
  color: var(--light-color);
  padding: 15px 20px;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}

.logo-light {
  margin-bottom: 20px;
}

.skills-banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border-top: solid 1px var(--primary-color);
  border-bottom: solid 1px var(--primary-color);
  padding: 20px 10px;
  margin: 0 40px;
  text-align: center;
}

.skills-banner li {
  list-style: none;
  font-family: "Raleway", sans-serif;
  padding: 0 10px;
}

.homepage-portfolio {
  margin: 40px;
}

.homepage-portfolio h2 {
  font-family: "Domine", serif;
}

.all-projects-link {
  font-size: 12px;
  color: var(--secondary-color);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
  padding-top: 30px;
}

.cards img {
  box-shadow: var(--box-shadow);
}
.cards h3 {
  padding-top: 20px;
  font-size: 20px;
  font-family: "Domine", serif;
  text-align: center;
}

.project-img {
  transition: all 150ms ease-in-out;
}

.project-img:hover {
  cursor: pointer;
  scale: 102%;
}

/* footer */

footer {
  color: var(--light-color);
  background-color: var(--primary-color);
  padding: 65px 56px 34px 56px;
  margin-top: 55px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.legal-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.footer-nav {
  list-style: none;
  padding: 0;
}

.footer-nav li {
  padding: 6px 0;
}

.footer-nav a,
i {
  text-decoration: none;
  color: var(--light-color);
}

.copyright-text,
.privacy-links {
  font-size: 12px;
}

.fa-linkedin {
  padding-right: 10px;
}

/* about */

.about-image {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  border-radius: 5px;
}

.about-main-content {
  padding: 50px 80px 0 80px;
}

/* contact */

.contact-form {
  padding: 40px 80px 0 80px;
}

.submit-button {
  display: block;
  margin: 15px auto;
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 10px 20px;
  border: var(--accent-color) solid 1px;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  transition: all 150ms ease-in-out;
}

.submit-button:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--light-color);
}

/* portfolio */

.project-info a {
  color: var(--secondary-color);
}

/* ------ */

/* heros */

.dark-hero {
  background-color: var(--primary-color);
  height: 500px;
  padding-top: 225px;
}

.dark-hero h1 {
  color: var(--accent-color);
  font-size: 60px;
  text-align: center;
  font-family: "Domine", serif;
}

.dark-hero h2 {
  color: var(--light-color);
  font-size: 20px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.light-hero {
  background-color: var(--accent-color);
  height: 500px;
  padding-top: 225px;
}

.light-hero h1 {
  color: var(--primary-color);
  font-size: 60px;
  text-align: center;
  font-family: "Domine", serif;
}

.light-hero h2 {
  color: var(--primary-color);
  font-size: 20px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.dark-color {
  color: var(--primary-color);
}

.light-color {
  color: var(--light-color);
}

@media screen and (max-width: 991px) {
  .hero {
    flex-wrap: wrap;
  }

  .bio-text {
    padding-right: 0;
  }

  .cards {
    align-items: center;
  }
  .profile-image {
    display: none;
  }

  .card-one,
  .card-two,
  .card-three {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 490px) {
  .dark-hero h2 {
    padding: 0 20px;
  }
  .contact-hero h2 {
    padding: 0 20px;
  }
  .about-main-content {
    padding: 30px 60px 0 60px;
  }
}
